body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-350px;
  width:1882px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:288px;
  width:375px;
  height:667px;
  display:flex;
}
#u1224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1857px;
  top:288px;
  width:375px;
  height:667px;
  display:flex;
}
#u1225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:288px;
  width:375px;
  height:667px;
  display:flex;
}
#u1226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:288px;
  width:375px;
  height:667px;
  display:flex;
}
#u1227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:919px;
  top:604px;
  width:35px;
  height:35px;
  display:flex;
}
#u1228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:604px;
  width:35px;
  height:35px;
  display:flex;
}
#u1229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:1934px;
  top:604px;
  width:35px;
  height:35px;
  display:flex;
}
#u1230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1442px;
  top:604px;
  width:35px;
  height:35px;
  display:flex;
}
#u1231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:1159px;
  width:375px;
  height:667px;
  display:flex;
}
#u1234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:319px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:1333px;
  width:270px;
  height:319px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:1358px;
  width:113px;
  height:29px;
  display:flex;
}
#u1236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1236_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:2px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1122px;
  top:1600px;
  width:270px;
  height:1px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:1610px;
  width:41px;
  height:29px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#49A9F0;
}
#u1238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:195px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:1395px;
  width:197px;
  height:195px;
  display:flex;
  color:#AEAEAE;
}
#u1239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:639px;
  width:0px;
  height:0px;
}
#u1240_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:506px;
}
#u1240_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:496px;
  width:822px;
  height:10px;
}
#u1240_seg2 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:496px;
  width:10px;
  height:24px;
}
#u1240_seg3 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:508px;
  width:20px;
  height:20px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:115px;
  top:493px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:639px;
  width:0px;
  height:0px;
}
#u1241_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:506px;
}
#u1241_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:496px;
  width:330px;
  height:10px;
}
#u1241_seg2 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:496px;
  width:10px;
  height:24px;
}
#u1241_seg3 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:508px;
  width:20px;
  height:20px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:412px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:639px;
  width:0px;
  height:0px;
}
#u1242_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:506px;
}
#u1242_seg1 {
  border-width:0px;
  position:absolute;
  left:-700px;
  top:496px;
  width:705px;
  height:10px;
}
#u1242_seg2 {
  border-width:0px;
  position:absolute;
  left:-700px;
  top:496px;
  width:10px;
  height:24px;
}
#u1242_seg3 {
  border-width:0px;
  position:absolute;
  left:-705px;
  top:508px;
  width:20px;
  height:20px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:493px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:639px;
  width:0px;
  height:0px;
}
#u1243_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:506px;
}
#u1243_seg1 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:496px;
  width:213px;
  height:10px;
}
#u1243_seg2 {
  border-width:0px;
  position:absolute;
  left:-208px;
  top:496px;
  width:10px;
  height:24px;
}
#u1243_seg3 {
  border-width:0px;
  position:absolute;
  left:-213px;
  top:508px;
  width:20px;
  height:20px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:354px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:816px;
  width:339px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1244_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:816px;
  width:316px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1245 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1245_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1909px;
  top:816px;
  width:271px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#AEAEAE;
}
#u1246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1246_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
